FOOTBALL_DATA_ROOT=/app/data
FOOTBALL_DETECTOR=color
FOOTBALL_MODEL_NAME=yolo11n.pt
FOOTBALL_DEVICE=auto
FOOTBALL_MAX_FRAME_ERRORS=10
FOOTBALL_API_URL=http://backend:8000
FOOTBALL_BACKEND_PORT=8010
FOOTBALL_UI_PORT=8510
FOOTBALL_UID=1000
FOOTBALL_GID=1000
